html {
	background: #252525 url('/images/line-tile.png?1334426298') top left;
}

	body {
		max-width: 1200px;
		position: relative;
		margin: 0 auto;
		font-size: 1.15em;
		line-height: 1.5em;
		color: #222;
	}

		body > header, body > nav, body > main, body > footer {
			padding-left: 50px;
			padding-right: 50px;
		}

		body > header {
			background: #333;
		}

				body > header > hgroup > h1 {
					font-size: 2.2em;
					font-family: "PT Serif", "Georgia", "Helvetica Neue", Arial, sans-serif;
					font-weight: normal;
					line-height: 1.2em;
				}

					body > header > hgroup > h1 > a {
						color: #f2f2f2;
						text-decoration: none;
					}

				body > header > hgroup > small {
					font-family: "PT Serif", "Georgia", "Helvetica Neue", Arial, sans-serif;
					margin: .2em 0 0;
					font-size: 1em;
					color: #aaa;
					font-weight: normal;
				}

			body > header > nav[role='complementary'] {
				display: inline;
				position: absolute;
				padding: 3px 10px;
				top: 0;
				right: 0;
			}

		body > nav {
			background: url('/images/noise.png?1334426298'),linear-gradient(#e0e0e0,#cccccc,#b0b0b0);
			border-top: 1px solid #f2f2f2;
			border-bottom: 1px solid #8c8c8c;
			padding-top: .35em;
			padding-bottom: .35em;
			position: relative;
		}

			body > nav ul li + li {
				border-left-color: #b0b0b0;
			}

			body > nav a {
				color: #6b6b6b;
				text-shadow: #ebebeb 0 1px;
				text-decoration: none;
				font-size: 1.1em;
				padding: .1em 0;
				line-height: 1.5em;
			}

			body > nav > form {
				display: none;
			}

			@media only screen and (min-width: 550px){
				body > nav > form {
					display: inline;
					position: absolute;
					right: 0;
					top: 0;
				}
			}

				body > nav > form > fieldset {
					border: none;
					padding: 7px;
				}

					body > nav > form > fieldset input[type=text] {
						padding: 5px 8px 0 8px;
					}

		body > main {
			background: #f8f8f8 url('/images/noise.png?1334426298') top left;
			border-right: 1px solid #e0e0e0;
		}

		body > main > section > article:first-child,
		body > main > article:first-child,
		body > main > header:first-child {
			padding-top: 25px;
		}

		body > main > section:last-child,
		main nav:last-child {
			padding-bottom: 24px;
		}

	article {
		padding-top: 0;
		padding-bottom: 24px;
	}

	article > header > time {
		color: #aaa;
		font-variant: small-caps;
	}

	article > header a {
		color: #222;
		text-decoration: none;
	}

	article > header a:hover {
		color: #0181eb;
		text-decoration: underline;
	}

	main > section {
		position: relative;
	}

		main > section > article:after {
			content: "";
			width: 100%;
			max-width: 1100px;
			position: absolute;
			border-bottom: 1px dotted #333;
		}

			main > nav > ul > li {
				border-color: #ccc;
			}

			main > nav > ul > li > a {
				text-decoration: none;
				color: #aaa;
			}

	body > footer {
		position: relative;
		margin-bottom: 10px;
		padding: 12px 50px;
		color: #888;
		text-shadow: #d9d9d9 0 1px;
		border-top: 1px solid #f2f2f2;
		background: url('/images/noise.png?1334426298'),linear-gradient(#e0e0e0,#cccccc,#b0b0b0);
		-moz-border-bottom-left-radius: 0.4em;
		-moz-border-bottom-right-radius: 0.4em;
		-webkit-border-bottom-left-radius: 0.4em;
		-webkit-border-bottom-right-radius: 0.4em;
		-o-border-bottom-left-radius: 0.4em;
		-o-border-bottom-right-radius: 0.4em;
		-ms-border-bottom-left-radius: 0.4em;
		-ms-border-bottom-right-radius: 0.4em;
		-khtml-border-bottom-left-radius: 0.4em;
		-khtml-border-bottom-right-radius: 0.4em;
		border-bottom-left-radius: 0.4em;
		border-bottom-right-radius: 0.4em;
	}

blockquote {
	font-style: italic;
	position: relative;
	padding-left: 15px;
	border-left: 4px solid rgba(170,170,170,0.5);
}

pre {
	background: #002b36 url('/images/noise.png?1334426298') top left;
	font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;
	-moz-border-top-left-radius: 0.4em;
	-moz-border-top-right-radius: 0.4em;
	-webkit-border-top-left-radius: 0.4em;
	-webkit-border-top-right-radius: 0.4em;
	-o-border-top-left-radius: 0.4em;
	-o-border-top-right-radius: 0.4em;
	-ms-border-top-left-radius: 0.4em;
	-ms-border-top-right-radius: 0.4em;
	-khtml-border-top-left-radius: 0.4em;
	-khtml-border-top-right-radius: 0.4em;
	border-top-left-radius: 0.4em;
	border-top-right-radius: 0.4em;
	border: 1px solid #002b36;
	line-height: 1.45em;
	font-size: 13px;
	margin-bottom: 2.1em;
	padding: .8em 1em;
	color: #93a1a1;
	overflow: auto;
}

p code, li code {
	display: inline-block;
	white-space: no-wrap;
	background: #fff;
	font-size: .8em;
	line-height: 1.5em;
	color: #555;
	border: 1px solid #ddd;
	-moz-border-radius: 0.4em;
	-webkit-border-radius: 0.4em;
	-o-border-radius: 0.4em;
	-ms-border-radius: 0.4em;
	-khtml-border-radius: 0.4em;
	border-radius: 0.4em;
	padding: 0 .3em;
	margin: -1px 0;
}

/*
 * Semantic styling rules...
 */

a[rel='prev']:before {
	content: "« ";
}

a[rel='next']:after {
	content: " »";
}

a[rel='more']:after {
	content: "…";
}

nav[role='complementary'] a {
	text-indent: -9999px;
	display: inline-block;
	width: 32px;
	height: 32px;
}

header[role='banner'] nav[role='complementary'] a[href*="github.com/"] {
	background: transparent url(/images/logo-github-white-32px.png) top left / 32px 32px no-repeat;
}

header[role='banner'] nav[role='complementary'] a[href*="twitter.com/"] {
	background: transparent url(/images/logo-twitter-white-32px.png) top left / 32px 32px no-repeat;
}

header[role='banner'] nav[role='complementary'] a[href*="/rss/"],
header[role='banner'] nav[role='complementary'] a[href*="atom.xml"],
header[role='banner'] nav[role='complementary'] a[href*="feed.xml"] {
	background: transparent url(/images/logo-rss-white-32px.png) top left / 32px 32px no-repeat;
}

nav[role='navigation'] nav[role='complementary'] a[href*="github.com/"] {
	background: transparent url(/images/logo-github-black-32px.png) top left / 32px 32px no-repeat;
}

nav[role='navigation'] nav[role='complementary'] a[href*="twitter.com/"] {
	background: transparent url(/images/logo-twitter-blue-32px.png) top left / 32px 32px no-repeat;
}

nav[role='navigation'] nav[role='complementary'] a[href*="/rss/"],
nav[role='navigation'] nav[role='complementary'] a[href*="feed.xml"],
nav[role='navigation'] nav[role='complementary'] a[href*="atom.xml"] {
	background: transparent url(/images/logo-rss-black-32px.png) top left / 32px 32px no-repeat;
}

/* archive.html */

ul.years-list {
	list-style: none;
	padding-left: 0;
}

span.year-label {
	border-bottom: 1px solid #aaa;
	display: inline-block;
	width: 100%;
}

ul.months-list {
	padding-top: 10px;
	list-style: none;
}

span.month-label {
	float: left;
}

ul.month-posts-list {
	list-style: none;
}

ul.month-posts-list > li {
	position: relative;
}

ul.month-posts-list > li > time {
	font-size: 0.95em;
	font-variant: small-caps;
	color: #888;
}

ul.month-posts-list > li > a {
	position: absolute;
	top: 0;
	left: 100px;
	color: #222;
	text-decoration: none;
}

ul.month-posts-list > li > a:hover {
	color: #0181eb;
	text-decoration: underline;
}
