---
import BaseLayout from "../layouts/BaseLayout.astro";
var pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
	<ul>
		<li><a href="/blog/dotnet-project-root-at-runtime/">.NET: Getting the Project Root Directory at Runtime</a></li>
	</ul>
</BaseLayout>
