main > section {
	width: 600px;
}

ul.years-list {
	list-style: none;
	padding-left: 0;
}

span.year-label {
	border-bottom: 1px solid #aaa;
	display: inline-block;
	width: 100%;
}

ul.months-list {
	padding-top: 10px;
	list-style: none;
	padding-left: 8px;
}

span.month-label {
	float: left;
}

ul.month-posts-list {
	list-style: none;
}

ul.month-posts-list > li {
	position: relative;
}

ul.month-posts-list > li > time {
	font-size: 0.95em;
	font-variant: small-caps;
	color: #888;
}

ul.month-posts-list > li > a {
	position: absolute;
	top: 0;
	left: 75px;
	color: #222;
	text-decoration: none;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

ul.month-posts-list > li > a:hover {
	color: #0181eb;
	text-decoration: underline;
}

@media screen and (max-width: 400px)
{
	ul.month-posts-list > li > a {
		max-width: 225px;
	}
}