@charset "UTF-8";
body div.container > header hgroup h1,
body div.container > header hgroup small {
  font-weight: 400;
  font-family: "PT Serif", Georgia, "Helvetica Neue", Arial, sans-serif;
}
article header h2.title,
body div.container > header hgroup h1,
body div.container > header hgroup small {
  font-family: "PT Serif", Georgia, "Helvetica Neue", Arial, sans-serif;
}
body {
  color: #333;
}
body div.container {
  display: table;
  height: 100%;
}
body div.container > header {
  display: table-cell;
  width: 273px;
  position: fixed;
  height: 100%;
  margin: 0 auto;
  background: #2f4f4f;
}
blockquote,
footer {
  position: relative;
}
body div.container main,
p > code {
  background: #fff;
}
body div.container > header hgroup {
  padding: 0 20px;
}
body div.container > header nav[role=navigation] ul {
  padding-left: 20px;
  list-style: none;
}
body div.container > header nav[role=complementary] {
  float: left;
  display: inline;
  padding: 3px 10px;
}
body div.container > header nav[role=complementary] ul {
  padding: 0;
  display: inline;
}
body div.container > header nav[role=complementary] ul li {
  display: inline;
}
body div.container > main {
  display: table-cell;
  width: 100%;
  padding-left: 323px;
}
body div.container > main section {
  margin-bottom: 10px;
}
body div.container > main section article {
  margin-bottom: 50px;
}
article header {
  margin: 10px 0 20px;
}
article header h2.title {
  margin: 8px 0;
}
article header div.byline span.author:after {
  content: "|";
  margin-left: 7px;
  margin-right: 7px;
}
input.search {
  border-radius: 5px;
  padding: 3px;
}
article p.summary {
  font-style: italic;
  color: #555;
}
article section {
  width: 700px;
}
hgroup {
  margin: 10px 0;
}
hgroup h1,
hgroup h2,
hgroup h3,
hgroup h4,
hgroup h5 {
  margin: 0;
}
body div.container > header hgroup h1 {
  font-size: 3.23em;
  line-height: 1.2em;
}
body div.container > header hgroup h1 a {
  color: #f2f2f2;
  text-decoration: none;
}
body div.container > header hgroup small {
  margin: .2em 0 0;
  font-size: 1em;
  color: #aaa;
}
body div.container > header nav[role=navigation] ul li a {
  text-decoration: none;
  font-size: 1.5em;
  color: #008b8b;
}
body div.container > header nav[role=navigation] form fieldset {
  border: none;
}
article header h2.title {
  font-size: 2.2rem;
}
article header h2.title a {
  text-decoration: none;
  color: #333;
}
article header h2.title a:focus,
article header h2.title a:hover {
  text-decoration: underline;
}
article header div.byline {
  color: #777;
  font-weight: 700;
}
article p {
  line-height: 1.4em;
}
article section hr {
  border-top: .5px solid #f0f0f0;
  border-right: none;
  border-left: none;
}
footer {
  margin-bottom: 10px;
  padding: 12px 0;
  color: #222;
  border-top: 1px solid #f2f2f2;
}
p > code {
  display: inline-block;
  white-space: no-wrap;
  font-size: .8em;
  line-height: 1.5em;
  color: #555;
  border: 1px solid #ddd;
  padding: 0 .3em;
  margin: -1px 0;
}
blockquote {
  font-style: italic;
  padding-left: 15px;
  border-left: 4px solid rgba(170, 170, 170, 0.5);
}
a[rel=prev]:before {
  content: "« ";
}
a[rel=next]:after {
  content: " »";
}
a[rel=more]:after {
  content: "…";
}
nav[role=complementary] a {
  text-indent: -9999px;
  display: inline-block;
  width: 32px;
  height: 32px;
}
header[role=banner] nav[role=complementary] a[href*="github.com/"] {
  background: url(/images/logo-github-white-32px.png) top left / 32px 32px no-repeat;
}
header[role=banner] nav[role=complementary] a[href*="twitter.com/"] {
  background: url(/images/logo-twitter-white-32px.png) top left / 32px 32px no-repeat;
}
header[role=banner] nav[role=complementary] a[href*="/rss/"],
header[role=banner] nav[role=complementary] a[href*="atom.xml"],
header[role=banner] nav[role=complementary] a[href*="feed.xml"] {
  background: url(/images/logo-rss-white-32px.png) top left / 32px 32px no-repeat;
}
nav[role=navigation] nav[role=complementary] a[href*="github.com/"] {
  background: url(/images/logo-github-black-32px.png) top left / 32px 32px no-repeat;
}
nav[role=navigation] nav[role=complementary] a[href*="twitter.com/"] {
  background: url(/images/logo-twitter-blue-32px.png) top left / 32px 32px no-repeat;
}
nav[role=navigation] nav[role=complementary] a[href*="/rss/"],
nav[role=navigation] nav[role=complementary] a[href*="atom.xml"],
nav[role=navigation] nav[role=complementary] a[href*="feed.xml"] {
  background: url(/images/logo-rss-black-32px.png) top left / 32px 32px no-repeat;
}
@media screen and (max-width: 800px) {
  body {
    position: relative;
    margin: 0 auto;
  }
  body div.container {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
  body div.container > header {
    position: relative;
    display: block;
    height: auto;
    width: 100%;
    padding-bottom: 35px;
    padding-top: 10px;
  }
  body div.container > header nav[role=navigation] {
    float: left;
    display: inline;
  }
  body div.container > header nav[role=navigation] ul {
    display: inline;
    padding-left: 20px;
    list-style: none;
  }
  body div.container > header nav[role=navigation] ul li {
    display: inline;
  }
  body div.container > header nav[role=navigation] ul li:not(:last-child) {
    padding-right: 8px;
    border-right: 1px solid #aaa;
    margin-right: 5px;
  }
  body div.container > header nav[role=navigation] form,
  body div.container > header nav[role=complementary] {
    display: none;
  }
  body div.container > main {
    clear: both;
    width: auto;
    display: block;
    padding-left: 20px;
  }
  body div.container > main section {
    width: auto;
  }
}
@media screen and (max-width: 400px) {
  body {
    max-width: 400px;
  }
  body main {
    max-width: 380px;
  }
  body main article section,
  body main article section img {
    max-width: 350px;
  }
}
