@charset "UTF-8";
body {
  color: #333;
}
body div.container > header {
  background: #2f4f4f;
}
body div.container main,
p > code {
  background: #fff;
}
article p.summary {
  color: #555;
}
body div.container > header hgroup h1 a {
  color: #f2f2f2;
}
body div.container > header hgroup small {
  color: #aaa;
}
body div.container > header nav[role=navigation] ul li:not(:last-child) {
  border-right-color: #aaa;
}
body div.container > header nav[role=navigation] ul li a {
  color: #008b8b;
}
article header h2.title a {
  color: #333;
}
article header div.byline {
  color: #777;
}
article section hr {
  border-top-color: #f0f0f0;
}
footer {
  color: #222;
  border-top-color: #f2f2f2;
}
p > code {
  color: #555;
  border-color: #ddd;
}
blockquote {
  border-left-color: rgba(170, 170, 170, 0.5);
}
