
extends layout.jade
//- this logic should be moved to a view at some point

block includes
	- var canonicalUrlNoTrailingSlash = locals.url.lastIndexOf('/') === locals.url.length - 1 ? locals.url.substring(0, locals.url.length - 1) : locals.url;
	link(href= canonicalUrlNoTrailingSlash + '/stylesheets/archive.css?v=1.0', media='screen, projection' rel='stylesheet' type='text/css')

block content
	- var lineHeight = 2.2;
	- var archives = _.chain(env.helpers.getArticles(contents, 'blog', true)).groupBy(function(item) {
	-	 return item.date.getFullYear()
	- }).value()
	- for (var archive in archives) {
	-	archives[archive] = _.groupBy(archives[archive], function(item){return item.date.getMonth();})
	- }
	- var month_names = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
	header
		h2 Blog Archive
	section
		ul.years-list
			- var yearsK = _.chain(archives).keys().reverse().value()
			- for(var year in yearsK)
				- months = archives[yearsK[year]]
				li
					span.year-label= yearsK[year]
					ul.months-list
						- var monthsK = _.chain(months).keys().reverse().value()
						- for(month in monthsK){
							li
								ul.month-posts-list
									each item in months[monthsK[month]]
										li
											time(datetime=moment.utc(item.date).format('YYYY-MM-DD'), pubdate)= moment.utc(item.date).format('MMM Do')
											a(rel='article', href=canonicalUrlNoTrailingSlash + item.url, title=item.title)=item.title
						- }
