
extends layout

block prepend title
  | #{ page.title + " - "}

block content
  article
    header
      h2= page.metadata.title
    section!= typogr(page.html).typogrify()
    if locals.disqusName
      section
        h2= 'Comments'
        div#disqus_thread

block prepend footer
  if locals.disqusName
    script(type='text/javascript', src='/javascripts/disqus.js?v=2.0.0&name=' + locals.disqusName)
