---
import BaseLayout from './BaseLayout.astro';
import globals from '../../globals.mjs';
import moment from 'moment';
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
  <article>
    <header>
        <h2 class='title'>{frontmatter.title}</h2>
        <div class='byline'>
            <span class='author'>{frontmatter.author ?? 'Bryan Matthews'}</span>
            {!frontmatter.status || frontmatter.status === 'publish' ? <time datetime={moment.utc(frontmatter.date).format('YYYY-MM-DD')}>{moment(frontmatter.pubDate).format('MMM Do, YYYY')}</time> : <span>N/A</span>}
        </div>
    </header>
    {frontmatter.summary && <p class='summary'>{frontmatter.summary}</p>}
    <section>
        <slot />
    </section>
    {globals.disqusName && <section><h2>Comments</h2><div id='disqus_thread'></div></section>}
  </article>
</BaseLayout>
